services:

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - datetime-mcp
      - ddgs-mcp
      - weather-mcp
    restart: unless-stopped
    networks:
      - llm_network

  datetime-mcp:
    build: ./mcp-servers/datetime
    ports:
      - "50051:50051"
    restart: unless-stopped
    networks:
      - llm_network

  ddgs-mcp:
    build: ./mcp-servers/ddgs
    ports:
      - "50052:50052"
    restart: unless-stopped
    networks:
      - llm_network

  weather-mcp:
    build: ./mcp-servers/weather
    ports:
      - "50053:50053"
    restart: unless-stopped
    networks:
      - llm_network
    depends_on:
      - geocoding-mcp  # Ensure geocoding-mcp is started before weather-mcp      

  geocoding-mcp:
    build: ./mcp-servers/geocoding
    ports:
      - "50054:50054"
    restart: unless-stopped
    networks:
      - llm_network

  frontend:
    build: ./frontend
    ports:
      - "7860:7860"
    restart: unless-stopped
    networks:
      - llm_network

  #searchxng_svc:
  #  build: ./searchxng_svc
  #  volumes:
  #    - ./searchxng_svc/settings.yml:/etc/searxng/settings.yml
  #    - ./searchxng_svc/limiter.toml:/etc/searxng/limiter.toml
  #    - searxng_cache:/var/cache/searxng
  #  ports:
  #    - "8181:8080"
  #  networks:
  #    - llm_network

networks:
  llm_network:

#volumes:
#  searxng_cache:
